body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: rgb(59, 59, 59); /* Changed background color to darkgrey */
}

h1 {
    text-align: center;
    color: #000000;
}

input[type="text"], button {
    padding: 10px;
    margin: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

input[type="text"] {
    width: calc(15% - 20px);
}

button {
    background-color: rgba(0, 0, 0, 0.753); /* Changed button background color to black */
    color: white;
    cursor: pointer;
    border: 3px solid rgba(255, 255, 255, 0.479); /* Added white border to button */
}

button:hover {
    background-color: #333; /* Changed button hover background color to darker shade of black */
}
#tableContainer {
    border-collapse: collapse;
    margin: 25px auto; /* Centering the table */
    font-size: 0.9em;
    font-family: sans-serif;
    width: 30%; /* Set the width to 30% of the screen */
    box-shadow: 0 0 20px rgb(0, 0, 0);
    text-align: center; /* Centering table content */
    background-color: #4e2f72; /* Added background color to table container */
}

#tableContainer table {
    width: 100%; /* Make the table fill the container */
    border: 3px solid rgba(255, 255, 255, 0.425); /* Changed table border color to white */
}

#tableContainer thead tr {
    background-color: #009879; /* Header background color */
    color: #ffffff; /* Header text color */
    text-align: center; /* Center header text */
}

#tableContainer th,
#tableContainer td {
    padding: 12px 15px;
    border: 1px solid black; /* Add border to each cell */
    font-weight: bold; /* Make text bold */
}

#tableContainer tbody tr {
    border: 1px solid black; /* Add border to each row */
}

#tableContainer tbody tr:hover {
    background-color: rgba(255, 255, 255, 0.6); /* Hover color with 60% transparency */
}

a:visited {
    color: black;
}


